<div  id='header-bar'>
    <div>
        <h1>An <img src='images/eye.jpg'/> for color</h1>
    </div>
</div>
    <div id='explaination'>
        <img src='images/exp.jpg'/>
        <h1>A Taste of Color</h1>
        <p>Against our instinct, color is actually complicated. 
            To begin with, every color we see is a combination of hue, lightness and purity.
            They each are senced by our eyes seperately but mixed into a coherent perception, 
            and the whole process happens smoothly without our conciouse awareness. </p>
        <p>When color appears in different hues, their lightness is still affecting us subconsciously. 
            Can you tell how bright a color is? Let's find out.
        </p>
    </div>
    <div id = 'button'>
        <a href='#/test'>START TEST</a>
    </div>	
